*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../img/gerenciar2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.col{
    width: 350px;
    background: rgba(8, 8, 8, 0.986);
    border-radius: 10% 10%;
    box-shadow: 1px 2px 10px black, 2px 6px 50px black;
    padding: 50px 20px;
}
h2{
    font-size: 30px;
    text-align: center;
    color: rgba(252, 250, 250, 0.849);
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}
h3{
    font-size: 20px;
    text-align: center;
    color: rgba(252, 250, 250, 0.849);
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}
input{
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(252, 250, 250, 0.849);
    color:rgba(252, 250, 250, 0.849);
    transition: .25s ease-in-out;
}
input-field{
    position: relative;
    margin-bottom: 20px;
}
input:focus{
    border-bottom: SteelBlue 1px solid ;
    box-shadow: 0 1px 0 0 SteelBlue;
}
input:not(:placeholder-shown){
    border-bottom: 2px solid SteelBlue;
    box-shadow: 0 1px 0 0 SteelBlue;
}
input::placeholder{
    color:rgba(252, 250, 250, 0.849);
    font-family: 'Open Sans', sans-serif;
}
button{
    padding: 15px 50px;
    margin: 30px;
    background: transparent;
    border: 2px solid rgba(252, 250, 250, 0.849);
    color: rgba(252, 250, 250, 0.849);
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .25;
    font-family: 'Open Sans', sans-serif;
}
button:hover{
    background: rgba(255, 0, 0, 0.9);
}
.center{
    text-align: center;
}
a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:rgba(252, 250, 250, 0.849);
}
.link{
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}
.erro{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgba(252, 250, 250, 0.849);
    background: rgba(255, 0, 0, 0.9);
    border: 2px solid rgba(252, 250, 250, 0.849);
    margin: 30px;
    border-radius: 20px;
    padding: 7px 10px;
    
}